<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1">
          <h4> Edit Admin</h4>
          <div class="dashboard1form">
            <form name="dataForm" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
              <div *ngIf="is_error" class="singleerror">{{is_error}}</div>
              <div class="form-group">
                <input type="password" class="form-control" name="oldpassword" placeholder="Old Password*" [formControl]="dataForm.controls['oldpassword']">
                <span *ngIf ="dataForm.controls['oldpassword'].touched && !dataForm.controls['oldpassword'].valid" class="has-error">Old Password field can not be blank</span>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password*" [formControl]="dataForm.controls['password']">
                <span *ngIf ="dataForm.controls['password'].touched && !dataForm.controls['password'].valid" class="has-error">Password field can not be blank</span>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="confirmpassword"  placeholder="Confirm Password*" [formControl]="dataForm.controls['confirmpassword']">
                <span *ngIf ="dataForm.hasError('mismatchedPasswords') && dataForm.controls['confirmpassword'].valid" class="has-error">Passwords must match</span>
              </div>
              <input type="submit" name="submit" value="SUBMIT" class="loginbtn2">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>