<div class="container-fluid topheaderblock topheadernewblock">
  <div class="row">
    <div class="container topheaderblockwrapper">
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 topheaderblocklogo">
        <div class="toplogo">
          <a [routerLink]="['']"><img src="../../assets/images/logo.png" alt="logo"></a>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 topheadernewblockright" *ngIf="url != '/LaEvent'">
        <div class="topheadernewblockrightcontent">
          <h1>Get Tickets to the Premier AudioDeadline.com Experience Event!</h1>
          <h2>Saturday, April 13th, 2019 Starting at 12:00 PM Pacific Time!</h2>
          <h3>“Join our Celebrity VMA Award winning Host Flii Stylz for this incredible online streaming event!”</h3>
          <a class="visitfllistyle" [routerLink]="['/signup']">Click here for Ticket Information NOW!</a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container-fluid topmenublock">
  <div class="container-fluid topmenu">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <span class="responsivemenu">MENU</span>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeInDown">
        <ul class="nav navbar-nav">
          <!--<li class="ssd lidiv0" *ngIf="isLoggedIn"><a class="dropdown-toggle" [routerLink]="['/dashboard']"> dashboard </a></li>-->
          <li class="ssd lidiv0 active"><a class="dropdown-toggle" [routerLink]="['']"> home </a></li>
          <li class="ssd lidiv1 "><a class="dropdown-toggle" [routerLink]="['/host-flii-stylz']"> Host Flii Stylz </a></li>
          <li class="ssd lidiv2 "><a class="dropdown-toggle" [routerLink]="['/signup']"> Get Streaming Tickets </a></li>
          <li class="ssd lidiv3 "><a class="dropdown-toggle" target="_blank" href="https://audiodeadline.com/AudioDeadlineSponsorshipDeck_WEBSITE.pdf"> Sponsors </a></li>
          <li class="ssd lidiv4 "><a class="dropdown-toggle" [routerLink]="['/dates/']"> Dates </a></li>
          <li class="ssd lidiv5 "><a class="dropdown-toggle" [routerLink]="['/team/']"> Team </a></li>
          <li class="ssd lidiv6 "><a class="dropdown-toggle" target="_blank" href="https://artistxp.com/"> ArtistXP Social </a></li>
          <li class="ssd lidiv7 "><a class="dropdown-toggle" [routerLink]="['/contactus']" > Contact </a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="clearfix"></div>
</div>
<div class="border1"></div>

<ng-template #template>

  <div class="modal-body text-center videomodal">
    <div class="closedideo" (click)="modalRef.hide()" style="cursor: pointer;"></div>
    <div class="videoiframe-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MROXcmq-zfM?rel=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</ng-template>