<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop">
    <div class="dashboradtoplogo">
      <img src="../../assets/images/logo.png">
    </div>
  </div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1">
          <h4>Sponsor List</h4>
          <div class="dashboardwrapper">
            <div class="row socialsinglepostlists">
              <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepost">
                <div class="row socialsinglepostcontent">
                  <div class="sponsorblock">
                    <h2>Nike</h2>
                    <div class="col-md-3 col-sm-6 col-xs-12 socialsinglepostcontentinner">
                     <!-- <p>https://audiodeadline.com/ticket-sale/sponsor/sponsor1/sponsor_media_11</p>-->
                      <div class="socialsinglepostimgwrapper">
                        <img src="../../assets/images/sponsor_1_media_1.jpg">
                      </div>
                      <div class="socialsinglepostright">
                        <div class="btnsocialsharenewlists">
                          <a class="btn btnsocialsharenew btnfb" href="javascript:void(0)" (click)="postinfb('nike','sponsor_media_11')"><span>Post In Facebook</span></a>
                          <a class="btn btnsocialsharenew btntwit" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_11%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Twitter</span></a>
                          <a class="btn btnsocialsharenew btnin" href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_11%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Linkedin</span></a>
                          <a class="btn btnsocialsharenew btntumblr" href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_11%26username%3Dnike%26utype%3Dsponsor&posttype=link" target="_blank"><span>Post In Tumblr</span></a>
                          <a class="btn btnsocialsharenew btngplus" href="https://plus.google.com/share?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_11%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Google+</span></a>
                          <a class="btn btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="copyText('https://audiodeadline.com/ticket-sale/sponsor-nike/media-sponsor_media_11/'+username)"><span>Grab URL</span></a>
                          <a class="btn btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="openmailbody(template,'sponsor_media_11')" style="background: #DC641A; width: 50%;"><span>Add Mail Body</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 socialsinglepostcontentinner">
                      <!--<p>https://audiodeadline.com/ticket-sale/sponsor/sponsor1/sponsor_media_12</p>-->
                      <div class="socialsinglepostimgwrapper">
                        <img src="../../assets/images/sponsor_1_media_2.jpg">
                      </div>
                      <div class="socialsinglepostright">
                        <div class="btnsocialsharenewlists">
                          <a class="btnsocialsharenew btnfb" href="javascript:void(0)" (click)="postinfb('nike','sponsor_media_12')"><span>Post In Facebook</span></a>
                          <a class="btnsocialsharenew btntwit" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_12%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Twitter</span></a>
                          <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_12%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Linkedin</span></a>
                          <a class="btnsocialsharenew btntumblr" href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_12%26username%3Dnike%26utype%3Dsponsor&posttype=link" target="_blank"><span>Post In Tumblr</span></a>
                          <a class="btnsocialsharenew btngplus" href="https://plus.google.com/share?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_12%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Google+</span></a>
                          <a class="btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="copyText('https://audiodeadline.com/ticket-sale/sponsor-nike/media-sponsor_media_12/'+username)"><span>Grab URL</span></a>
                          <a class="btn btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="openmailbody(template,'sponsor_media_12')" style="background: #DC641A; width: 50%;"><span>Add Mail Body</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 socialsinglepostcontentinner">
                     <!-- <p>https://audiodeadline.com/ticket-sale/sponsor/sponsor2/sponsor_media_21</p>-->
                      <div class="socialsinglepostimgwrapper" style="height: auto;">
                        <img src="../../assets/images/sponsor_2_media_1.jpg">
                      </div>
                      <div class="socialsinglepostright">
                        <div class="btnsocialsharenewlists">
                          <a class="btnsocialsharenew btnfb" href="javascript:void(0)" (click)="postinfb('nike','sponsor_media_21')"><span>Post In Facebook</span></a>
                          <a class="btnsocialsharenew btntwit" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_21%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Twitter</span></a>
                          <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_21%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Linkedin</span></a>
                          <a class="btnsocialsharenew btntumblr" href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_21%26username%3Dnike%26utype%3Dsponsor&posttype=link" target="_blank"><span>Post In Tumblr</span></a>
                          <a class="btnsocialsharenew btngplus" href="https://plus.google.com/share?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_21%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Google+</span></a>
                          <a class="btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="copyText('https://audiodeadline.com/ticket-sale/sponsor-nike/media-sponsor_media_21/'+username)"><span>Grab URL</span></a>
                          <a class="btn btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="openmailbody(template,'sponsor_media_21')" style="background: #DC641A; width: 50%;"><span>Add Mail Body</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 socialsinglepostcontentinner">
                     <!-- <p>https://audiodeadline.com/ticket-sale/sponsor/sponsor2/sponsor_media_22</p>-->
                      <div class="socialsinglepostimgwrapper" style="height: auto;">
                        <img src="../../assets/images/sponsor_2_media_2.jpg">
                      </div>
                      <div class="socialsinglepostright">
                        <div class="btnsocialsharenewlists">
                          <a class="btnsocialsharenew btnfb" href="javascript:void(0)" (click)="postinfb('nike','sponsor_media_22')"><span>Post In Facebook</span></a>
                          <a class="btnsocialsharenew btntwit" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_22%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Twitter</span></a>
                          <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_22%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Linkedin</span></a>
                          <a class="btnsocialsharenew btntumblr" href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_22%26username%3Dnike%26utype%3Dsponsor&posttype=link" target="_blank"><span>Post In Tumblr</span></a>
                          <a class="btnsocialsharenew btngplus" href="https://plus.google.com/share?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_22%26username%3Dnike%26utype%3Dsponsor" target="_blank"><span>Post In Google+</span></a>
                          <a class="btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="copyText('https://audiodeadline.com/ticket-sale/sponsor-nike/media-sponsor_media_22/'+username)"><span>Grab URL</span></a>
                          <a class="btn btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="openmailbody(template,'sponsor_media_22')" style="background: #DC641A; width: 50%;"><span>Add Mail Body</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sponsorblock">
                    <h2>Gibson Guitar</h2>
                    <div class="col-md-3 col-sm-6 col-xs-12 socialsinglepostcontentinner">
                      <!--<p>https://audiodeadline.com/ticket-sale/sponsor/sponsor3/sponsor_media_31</p>-->
                      <div class="socialsinglepostimgwrapper" style="height: auto;">
                        <img src="../../assets/images/sponsor_3_media_1.jpg">
                      </div>
                      <div class="socialsinglepostright">
                        <div class="btnsocialsharenewlists">
                          <a class="btnsocialsharenew btnfb" href="javascript:void(0)" (click)="postinfb('gibson','sponsor_media_31')"><span>Post In Facebook</span></a>
                          <a class="btnsocialsharenew btntwit" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_31%26username%3Dgibson%26utype%3Dsponsor" target="_blank"><span>Post In Twitter</span></a>
                          <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_31%26username%3Dgibson%26utype%3Dsponsor" target="_blank"><span>Post In Linkedin</span></a>
                          <a class="btnsocialsharenew btntumblr" href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_31%26username%3Dgibson%26utype%3Dsponsor&posttype=link" target="_blank"><span>Post In Tumblr</span></a>
                          <a class="btnsocialsharenew btngplus" href="https://plus.google.com/share?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_31%26username%3Dgibson%26utype%3Dsponsor" target="_blank"><span>Post In Google+</span></a>
                          <a class="btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="copyText('https://audiodeadline.com/ticket-sale/sponsor-gibson/media-sponsor_media_31/'+username)"><span>Grab URL</span></a>
                          <a class="btn btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="openmailbody(template,'sponsor_media_31')" style="background: #DC641A; width: 50%;"><span>Add Mail Body</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 socialsinglepostcontentinner">
                      <!--<p>https://audiodeadline.com/ticket-sale/sponsor/sponsor3/sponsor_media_32</p>-->
                      <div class="socialsinglepostimgwrapper" style="height: auto;">
                        <img src="../../assets/images/sponsor_3_media_2.jpg">
                      </div>
                      <div class="socialsinglepostright">
                        <div class="btnsocialsharenewlists">
                          <a class="btnsocialsharenew btnfb" href="javascript:void(0)" (click)="postinfb('gibson','sponsor_media_32')"><span>Post In Facebook</span></a>
                          <a class="btnsocialsharenew btntwit" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_32%26username%3Dgibson%26utype%3Dsponsor" target="_blank"><span>Post In Twitter</span></a>
                          <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_32%26username%3Dgibson%26utype%3Dsponsor" target="_blank"><span>Post In Linkedin</span></a>
                          <a class="btnsocialsharenew btntumblr" href="https://www.tumblr.com/widgets/share/tool?shareSource=legacy&canonicalUrl=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_32%26username%3Dgibson%26utype%3Dsponsor&posttype=link" target="_blank"><span>Post In Tumblr</span></a>
                          <a class="btnsocialsharenew btngplus" href="https://plus.google.com/share?url=http%3A%2F%2Faudiodeadline.com%2Fsharetool.php%3Ftype%3Dticketsale%26media_id%3Dsponsor_media_32%26username%3Dgibson%26utype%3Dsponsor" target="_blank"><span>Post In Google+</span></a>
                          <a class="btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="copyText('https://audiodeadline.com/ticket-sale/sponsor-gibson/media-sponsor_media_32/'+username)"><span>Grab URL</span></a>
                          <a class="btn btnsocialsharenew btngrapurl" href="javascript:void(0)" (click)="openmailbody(template,'sponsor_media_32')" style="background: #DC641A; width: 50%;"><span>Add Mail Body</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>


<ng-template #template>
  <div class="modal-body text-center modalcls modalclswrapper">
    <h1>Add or Edit Mail Body</h1>
    <h2>Subject</h2>
    <input type="text" name="mailsubject" [(ngModel)]="mailsubject">
    <h2>Mail Body</h2>
    <ck-editor name="mailbody" [(ngModel)]="mailbody" skin="moono-lisa" language="en" [fullPage]="false"></ck-editor>
    <div class="text-center activebtnclsnew">
      <button type="button" class="btnedit" (click)="confirm()" >Save</button>
      <button type="button" class="btndelete" (click)="decline()" >Cancel</button>
    </div>

  </div>
</ng-template>