<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1 adminlisttable">
          <h4>Order List</h4>
          <div class="tablediv">
            <div class="tabletopbar">
              <div class="pull-right">
                <form action="" method="get">
                  <ul>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <input style="border-radius: 0;" placeholder="Search By DateRange" name="searchDate" class="form-control input-lg"
                                 [(ngModel)]="searchDate"
                                 [selectMode]="'range'"
                                 [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1">
                          <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <input type="text" class="form-control input-lg" placeholder="Search" autocomplete="off" [(ngModel)]="searchText" name="searchText" />
                        </div>
                      </div>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
            <table>
              <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Enroller</th>
                <th>Sponsor</th>
                <th>Product</th>
                <th>Transaction Id</th>
                <th>Total</th>
                <th>Promocode</th>
                <th>Discount</th>
                <th>Order Time</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of orderlist | oreder1 : searchText | oreder2 : searchDate">
                <td>{{item.fullname}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.affiliatename}}</td>
                <td style="text-transform: uppercase;">{{item.sponsor}}</td>
                <td style="text-transform: uppercase;">{{item.productname}}</td>
                <td>{{item.transactionId}}</td>
                <td style="word-break: keep-all;">${{showtwoDecnum(item.total)}}</td>
                <td>{{item.promocode}}</td>
                <td style="word-break: keep-all;">{{(item.discount)?'$'+showtwoDecnum(item.discount):''}}</td>
                <td>{{(item.added_time*1000) | date :  "MM/dd/yyyy hh:mma" }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
