<app-header></app-header>
<div class="container-fluid multi_bg_example_ticsale">
  <div class="row">
    <div class="container landingwrapper_ticsale">
      <div class="logowrapper_ticsale">
        <img src="../../assets/images/landing-logo.png">
      </div>
      <div class="img1wrapper_ticsale">
        <img src="../../assets/images/ticsale-landingimg1-new.png">
      </div>
      <div class="landingformwrapper_ticsale" style="z-index: 1000;">
        <div class="landingformheader_ticsale"></div>
        <div class="landingforminnerwrapper_ticsale" #destinationRef>
          <h1>Get all access</h1>
          <h3>for this Audio Deadline for <span>Special Rate $9.95 (regular $14.95)</span></h3>
          <form name="ticsaleform" class="wpcf7-form"  novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value,template,loadtemplate)">
            <div class="form-group">
              <span>
                <input name="firstname" class="form-control" placeholder="First Name*" type="text" [formControl]="dataForm.controls['firstname']">
              </span>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['firstname'].touched && !dataForm.controls['firstname'].valid">First Name field can not be blank</span>
            </div>
            <div class="form-group">
              <span>
                <input name="lastname" class="form-control" placeholder="Last Name*" type="text" [formControl]="dataForm.controls['lastname']">
              </span>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['lastname'].touched && !dataForm.controls['lastname'].valid">Last Name field can not be blank</span>
            </div>
            <div class="form-group">
              <span>
                <input name="address" class="form-control" placeholder="Address*" type="text" [formControl]="dataForm.controls['address']">
              </span>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['address'].touched && !dataForm.controls['address'].valid"> Address field can not be blank</span>
            </div>
            <div class="form-group">
              <span>
                <input name="city" class="form-control" placeholder="City*" type="text" [formControl]="dataForm.controls['city']">
              </span>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['city'].touched && !dataForm.controls['city'].valid"> City field can not be blank</span>
            </div>
            <div class="form-group">
              <select class="form-control classic" name="state" [formControl]="dataForm.controls['state']">
                <option value="">Select State*</option>
                <option *ngFor="let item of state" value="{{item.abbreviation}}">{{item.name}}</option>
              </select>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['state'].touched && !dataForm.controls['state'].valid"> State/Province field can not be blank</span>
            </div>
            <div class="form-group">
              <span>
                <input name="zip" class="form-control" placeholder="Zip*" type="text" [formControl]="dataForm.controls['zip']">
              </span>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['zip'].touched && !dataForm.controls['zip'].valid"> Zip code can not be blank</span>
            </div>
            <div class="form-group">
              <span>
                <input type="text" class="form-control" placeholder="Email*" name="email" [formControl]="dataForm.controls['email']">
              </span>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['email'].touched && dataForm.controls['email'].hasError('blankemail')">Email Id field can not be blank</span>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['email'].touched && dataForm.controls['email'].hasError('invalidemail')">Email Id is not valid</span>
            </div>
            <div class="form-group">
              <span>
                <input type="text" class="form-control" placeholder="Phone*" name="phone" [formControl]="dataForm.controls['phone']">
              </span>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['phone'].touched && !dataForm.controls['phone'].valid">Phone code can not be blank</span>
            </div>
            <div class="form-group">
              <ul class="cardlist list-inline">
                <li>We Accept</li>
                <li>
                  <a href="javascript:void(0);"><img src="../../assets/images/img-card1.png"></a>
                  <a href="javascript:void(0);"><img src="../../assets/images/img-card2.png"></a>
                  <a href="javascript:void(0);"><img src="../../assets/images/img-card3.png"></a>
                  <a href="javascript:void(0);"><img src="../../assets/images/img-card4.png"></a>
                </li>
              </ul>
            </div>
            <div class="form-group">
              <span><input name="cardnumber" class="form-control" placeholder="Card Number*" type="text" [formControl]="dataForm.controls['cardnumber']"></span>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['cardnumber'].touched && !dataForm.controls['cardnumber'].valid"> Card Number field can not be blank</span>
              <span class="wpcf7-not-valid-tip" *ngIf ="paymenterror"> {{paymenterror}}</span>
            </div>
            <div class="form-group">
              <ul class="list-inline ddyy">
                <li>
                  <select class="form-control classic" name="expmon" [formControl]="dataForm.controls['expmon']">
                    <option value="">--MM--</option>
                    <option *ngFor="let item of montharr" value="{{item.val}}">{{item.label}}</option>
                  </select>
                </li>
                <li>
                  <select class="form-control classic" name="expyear" [formControl]="dataForm.controls['expyear']">
                    <option value="">--YYYY--</option>
                    <option *ngFor="let item of yeararr" value="{{item.val}}">{{item.label}}</option>
                  </select>
                </li>
              </ul>
              <span class="wpcf7-not-valid-tip" *ngIf ="((dataForm.controls['expmon'].touched && !dataForm.controls['expmon'].valid) || (dataForm.controls['expyear'].touched && !dataForm.controls['expyear'].valid))"> Exp Month/year field can not be blank</span>
            </div>
            <div class="form-group">
              <span><input name="cvv" class="form-control" placeholder="CVV*" type="text" [formControl]="dataForm.controls['cvv']"></span>
              <span class="wpcf7-not-valid-tip" *ngIf ="dataForm.controls['cvv'].touched && !dataForm.controls['cvv'].valid"> CVV field can not be blank</span>
            </div>
            <div class="form-group">
              <span style="position: relative; display: block;">
                <input name="promocode" class="form-control" placeholder="Do you have a promo code?" type="text" [formControl]="dataForm.controls['promocode']">
                <input type="button" (click)="chkPromocode()" value="Apply" style="color: #FCB51B; position: absolute; right: 5px; top: 0; font-weight: bold; background: none; border: none; line-height: 38px; font-size: 13px;">
              </span>
              <span class="wpcf7-not-valid-tip" *ngIf="promoerror">{{promomsg}}</span>
              <span class="wpcf7-not-valid-tip" style="color: #00ff00" *ngIf="promosuccess">{{promomsg}}</span>
            </div>
            <div class="form-group termsandconditioncls">
              <label class="checkcontainer">
                Accept Terms And Conditions
                <input name="accept-tc" value="Accept Terms And Conditions" type="checkbox" [formControl]="dataForm.controls['accepttermscond']">
                <span class="checkmark"></span>
                <span class="wpcf7-not-valid-tip" *ngIf="chkerror"> You have to accept the Terms and Conditions !</span>
              </label>
            </div>
            <p>
              <button type="submit" class="btnbuyticket_ticsale">BUY MY TICKETS NOW !<img src="../../assets/images/iconarrow.png"></button>
            </p>
          </form>
        </div>
        <div class="landingformfooter_ticsale"></div>
      </div>
      <div class="txt1wrapper_ticsale">
        <h4>Join us for the</h4>
        <h1>AudioDeadline.com</h1>
        <h2>Experience Live</h2>
        <h3>Streamed Event!</h3>
      </div>
      <div class="txt2wrapper_ticsale">
        <div class="txt2wrapperheader_ticsale">
          <h1>Saturday, February 16th, 2019 starting <span>at 1:00 PM Pacific / 4 PM Eastern!</span></h1>
        </div>
        <h2>"FAMOUS ARTISTS - INTENSE CREATIVITY"</h2>
        <p>Contest winners in our <span>www.ArtistXP.com</span> social networking portal all come together live with an 8-hour deadline to create a brand-new song.  Exhibiting raw contest winning talent, they have never met each other in person and are here to collaborate with world famous industry professionals including our Celebrity Host Flii Stylz!</p>
        <div class="landingimg2wrapper_ticsale_new">
          <img src="../../assets/images/landingimg2_ticsale_new.png">
        </div>
      </div>
      <div class="sponsor_block_ticsale" *ngIf="banner1 && banner2">
        <div class="sponsor_block_ticsale_wrapper">
          <div class="content-table">
            <div class="content-row">
              <div class="column content1">
                <div class="videoWrapper">
                  <img src="../../assets/images/{{banner1}}">
                </div>
              </div>
              <div class="column sidebar">
                <div class="videoWrapper">
                  <img src="../../assets/images/{{banner2}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="txt3wrapper_ticsale">
        <div class="txt3wrapperheader_ticsale">
          <div class="txt3wrapperheader_ticsale_wrapper">
            <h1>Hurry and buy you ticket now <span>for a discounted rate of just $9.95! ($5 off)</span></h1>
          </div>
        </div>
        <h2>Join Celebrity Host Flii Stylz and Instagram Sensation Co-Host Sandra Sago</h2>
        <p class="paragraghcls">During the event we will have several industry movers and shakers drop by to meet with Flii and we will be running contests for fans throughout to win gear, trips and a change to join us on the next <span>AudioDeadline.com Experience!</span><br><br>Our show will be co-hosted by the beautiful Instagram sensation Sandra Sago (known as @thearabianprincess) She will be in the studio with the musicians while interacting with them during their creative moments.</p>
        <div class="txt3wrapperheader_ticsale">
          <!--<div class="landingtxt4img2wrapper_ticsale">
            <img src="../../assets/images/landingtxt4img2_ticsale.png">
          </div>-->
          <div class="txt3wrapperheader_ticsale_wrapper txt3wrapperheader_ticsale_wrapper_new">
            <h1>By purchasing tickets before January 1st 2019,<br>
              you will be entered to win a chance to be<br>
              flown to Los Angeles, CA for the first<br>
              AudioDeadline.com Experience to be<br>
              Flii’s special guest!</h1>
          </div>
        </div>
        <div class="landingtxt6imgwrapper_ticsale_new">
          <img src="../../assets/images/landing6img_ticsale_new.png">
        </div>
        <p>You can also check box to join as an affiliate to present ticket sales to your audience and <span>earn 10%</span> of their purchases with us. You can sign up other affiliates under you as well!</p>

        <div class="txt3wrapperheader_ticsale">
          <div class="txt3wrapperheader_ticsale_wrapper">
            <h1>What will you get with your AudioDeadline.com <span>Live Streamed Experience?</span></h1>
          </div>
        </div>
        <ul>
          <li><span><label>Access to the live showcase room found on our www.ArtistXP.com social network 3 days before the event to review all the information on the contest winners and special guest appearances.</label></span></li>
          <li><span><label>The ability to interact live with Flii through twitter participating in contests and other fun experiences while the
AudioDeadline.com Experience is going.</label></span></li>
          <li><span><label>A chance to win prizes throughout the broadcast.</label></span></li>
          <li><span><label>A front seat to the heat of the moment when creativity is at its peak and the music and history in made right there
for you to witness live!</label></span></li>
        </ul>


      </div>
      <!--<div class="landingtxt5imgwrapper_ticsale">
        <img src="../../assets/images/landingtxt5img_ticsale.png">
      </div>-->
      <div class="dialogbox">
        <div class="commentimgleft_ticsale">
          <img src="../../assets/images/commentimg_left_ticsale.png">
        </div>
        <div class="commentbody">
          <span class="pointer"></span>
          <div class="message">
            <span class="span1">Get your tickets now</span> and take advantage of our discount rate of <span class="span2">$9.95</span> and contest entry to win a chance to join us in the studio!
          </div>
        </div>
        <div class="commentimgright_ticsale">
          <img src="../../assets/images/commentimg_right_ticsale.png">
        </div>
        <!--<div class="txt6wrapper_ticsale">
          <button type="button" class="btnbuyticket_ticsale"  [ngx-scroll-to]="destinationRef">BUY MY TICKETS NOW !<img src="../../assets/images/iconarrow.png"></button>
        </div>-->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<ng-template #template>
  <div class="modal-body text-center signupeamilbody">

    <button type="button" class="close" (click)="closep()">&times;</button>
    <img src="../../assets/images/logo.png" alt="logo">
    <p><span>By buying a Streaming Ticket, you are creating a basic access profile as a Fan on ArtistXP where you will log in to watch the Deadline Showcase that you have purchased.<a style="cursor: pointer" (click)="closep()">OK</a></span></p>

  </div>
</ng-template>


<ng-template #loadtemplate>
  <div class="modal-body text-center signupeamilbody" style="border: none; background: none;">

    <div class="loder_body">
      <div class="loder_wrapper">
        <div class="loader"></div>
      </div>
    </div>

  </div>
</ng-template>
