<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1 adminlisttable">
          <h4>Commission List</h4>
          <div class="tablediv">
            <div class="tabletopbar">
              <div class="pull-right">
                <form action="" method="get">
                  <ul>
                    <!--<li>
                      <div>
                        <div class="input-group col-md-12">
                          <input style="border-radius: 0;" placeholder="Search By DateRange" name="searchDate" class="form-control input-lg"
                                 [(ngModel)]="searchDate"
                                 [selectMode]="'range'"
                                 [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1">
                          <owl-date-time [pickerType]="'calendar'" #dtRange1></owl-date-time>
                        </div>
                      </div>
                    </li>-->
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <input type="text" class="form-control input-lg" placeholder="Search" autocomplete="off" [(ngModel)]="searchText" name="searchText" />
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="input-group col-md-12">
                          <select name="searchType" [(ngModel)]="searchType" class="form-control input-lg">
                            <option value="">Search By Account Type</option>
                            <option value="">All</option>
                            <option value="0">Affiliate</option>
                            <option value="1">Ambassador</option>
                          </select>
                        </div>
                      </div>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
            <table>
              <thead>
              <tr>
                <th>Affiliate Name</th>
                <th>Account Type</th>
                <th>No Of Sale</th>
                <th>Total Commission</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of commisionlist | commission1 : searchText | commission2 : searchType">
                <td>{{item.fullname}}</td>
                <td>{{(item.ambassador == 1)?'Ambassador':'Affiliate'}}</td>
                <td>{{item.noofsale}}</td>
                <td>${{item.totalcommission}}</td>
                <td><a href="javascript:void(0)" class="loginbtn2" style="padding: 6px 5px !important; font-size: 15px;" (click)="openViewModal(template,item)"><span>View Details</span></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<ng-template #template>
  <div class="modal-body text-center modalcls">
    <div class="tablediv">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Product Name</th>
          <th>Commission</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of commisiondetlist">
          <td>{{item.fullname}}</td>
          <td>{{item.productname}}</td>
          <td>{{item.commission}}</td>
          <td>${{item.amount}}</td>
          <td>{{(item.added_time*1000) | date :  "MM/dd/yyyy hh:mma" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>