<app-header></app-header>
<div class="container-fluid multi_bg_example_danclan">
  <div class="row">
    <div class="container landingwrapper_danclan">
      <div class="logowrapper_danclan"><img src="../../assets/images/landing-logo.png"></div>
      <div class="landingformwrapper_danclan">
        <div class="landingformheader_danclan">
          <h1>JOIN OUR COMMUNITY </h1>
          <h3>FOR FREE RIGHT NOW!</h3>
        </div>
        <div class="landingforminnerwrapper_danclan">
          <form class="formdiv" name="dancingform">
            <label><input class="form-control" name="first-name" placeholder="First Name" size="40" value="" type="text"></label>
            <label><input class="form-control" name="last-name" placeholder="Last Name" size="40" value="" type="text"></label>
            <label><input class="form-control" name="your-email" placeholder="Email" size="40" value="" type="text"></label>
            <label><input class="form-control" name="your-phone" placeholder="Phone" size="40" value="" type="text"></label>
            <label><input aria-required="true" class="form-control" name="zip-code" placeholder="Zip Code" size="40" value="" type="text"></label>
            <label><span class="accept-tc"><input name="accept-tc[]" value="Accept Terms And Conditions" type="checkbox"><span>Accept Terms And Conditions</span></span></label>
            <input class="btnbuyticket_danclan" value="GET YOUR PROFILE !" type="submit">
          </form>
        </div>
        <div class="landingformfooter_danclan"></div>
      </div>
      <div class="img1wrapper_danclan"><img src="../../assets/images/landingimg1_danclan.png"></div>
      <div class="txt1wrapper_danclan">
        <h1>PROFESSIONAL DANCERS</h1>
        <h1>WANTED IN OUR</h1>
        <h1>ARTIST EXCHANGE!</h1>
        <h2>Join our community and get your own profile for FREE.</h2>
        <h3>Interact with musicians, models, dancers and other artists to supercharge your exposure and trade traffic!</h3>
      </div>
      <div class="txt2wrapper_danclan">
        <div class="txt2wrapperheader_danclan">
          <h1>ABOUT AUDIO DEADLINE</h1>
        </div>
        <ul>
          <li><span>Every quarter we have an incredible opportunity for all community members to purchase a streaming ticket to the Audio Deadline.</span></li>
          <li><span>A-List Musicians are joined by contest winners from our Artist Exchange community and our Celebrity host Flii Stylz will be streaming live from the recording studio to create a brand-new song.</span></li>
          <li><span>They have a deadline of 8 hours to create a new song and you get to be right there with your favorite artist while it is all happening streamed live directly to your home!</span></li>
          <li><span>Flii is there the whole time keeping it fresh with celebrity guests coming by and interaction with you, the streaming audience!</span></li>
          <li><span>After the song has been produced, that night we will broadcast live from one of the incredible mega clubs on the Las Vegas strip and you get to be right there with us!</span></li>
        </ul>
      </div>
      <div class="txt3wrapper_danclan">
        <div class="txt3wrapperheader_danclan">
          <h1>YOU HAVE TO GET INVOLVED WITH OUR <br>ARTIST EXCHANGE COMMUNITY!</h1>
          <h5>We are building an incredibly, massive online community of musicians, fans and excitement around our ground breaking and inspiring new online streaming show, Audio Deadline. Our content is like nothing you have ever experience before. Musicians, Dancers and other Artists compete to be on the show and share their incredible work to be experienced by all! If you love music and want to be part of something incredible <span>then you are in the right place!</span></h5>
          <div class="img3wrapper_danclan"><img src="../../assets/images/landingtxt3img1_danclan.png"></div>
          <div class="btnbuyticketwrapper_danclan"><a class="btnbuyticket_danclan" href="">Join for Free NOW!</a></div>
        </div>
      </div>
      <div class="txt4wrapper_danclan">
        <div class="txt4wrapperheader_danclan">
          <div class="img4wrapper_danclan"><img src="../../assets/images/landingtxt4img1_danclan.png"></div>
          <h1>Come on in and set up <br>your Profile</h1>
          <h5><div class="img4wrapper1_danclan"><img src="../../assets/images/landingtxt4img2_danclan.png"></div><span>We offer traditional profile creation</span> options with an emphasis on musicians, dancers, artistry and themes around music appreciation. The system will have a light weight profile management system that is fully integrated with Facebook, Twitter, Instagram, and Snap Chap, giving users, musicians and fans alike, the most comprehensive social-music community experience available. The services offered through the application will include updates to the forthcoming Audio Deadline live events and episodes, music industry RSS feeds, user added audio and video as well as collaborative competitions amounts the musician members of the portal.</h5></div>
      </div>
      <div class="txt5wrapper_danclan">

        <div class="txt5wrapperheader_danclan">

          <h1>AS COMMUNITY MEMBERS YOU CAN <br>INVITE OTHERS TO AUDIO DEADLINE!</h1>
          <div class="img6wrapper_danclan"><img src="../../assets/images/landingtxt6img1_danclan.png"></div>
          <h5><span>The Audio Deadline portal</span> will become the premier destination for music lovers everywhere. The portal is the central focus for the Audio Deadline live broadcast and will be where all the fans gather in anticipation for the forthcoming event.  Besides all the incredible free community features in the Artist Exchange, you are invited to join as an affiliate! Whether you are a musician, promoter, fan or anyone else. If you <span>invite through our social share tools</span>, then you get credit! Anyone that comes in through your links and social posts will be tied directly to you. Anything they purchase in the form of streaming tickets to the deadline or anything else will pay you directly!</h5>
          <h6>There will be <span>several opportunities to earn money</span> with Audio Deadline as we pack our schedule with more A-List artists and present other opportunities.  In your community portal account, you will see these opportunities as they come up, and you are welcome to share them any time they do! If something sells through your portal, then you are going to get paid!  This is one of the ways we are giving back to the artist community that supports our efforts. <span>We will rise above together!</span></h6>
          <div class="img5wrapper_danclan"><img src="../../assets/images/landingtxt5img_danclan.png"></div>
          <div class="txt6commentbox_danclan">
            <h2>"WE REALLY LOOK FORWARD TO HAVING YOU AS A MEMBER OF OUR ARTIST COMMUNITY. WE HOPE TO SEE YOU BUY A STREAMING TICKET TO THE NEXT DEADLINE!"</h2></div>
          <div class="btnbuyticketwrapper_danclan"><a class="btnbuyticket_danclan" href="">Join for Free NOW!</a></div>
        </div>

      </div>
      <div class="txt6wrapper_danclan">
        <div class="txt6wrapperheader_danclan">
          <h1>AUDIO DEADLINE AND THE ARTIST <br>EXCHANGE WELCOMES YOU!</h1></div>
        <div class="landingcopyright_danclan"> ©2018 COPYRIGHT by Audio Deadline </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
