<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop"><img src="../../assets/images/logo.png"></div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1">
          <h4> Add Product</h4>
          <div class="dashboard1form">
            <form name="dataForm" novalidate [formGroup]="dataForm" (ngSubmit)="dosubmit(dataForm.value)">
              <div *ngIf="is_error" class="singleerror">{{is_error}}</div>
              <div class="form-group">
                <label>Name*:</label>
                <input type="text" class="form-control" name="name" placeholder="Name*" [formControl]="dataForm.controls['name']">
                <span *ngIf ="dataForm.controls['name'].touched && !dataForm.controls['name'].valid" class="has-error"> Name field can not be blank</span>
              </div>
              <div class="form-group">
                <label>Description*:</label>
                <textarea class="form-control" name="description" placeholder="Description*" [formControl]="dataForm.controls['description']"></textarea>
                <span *ngIf ="dataForm.controls['description'].touched && !dataForm.controls['description'].valid" class="has-error"> Description field can not be blank</span>
              </div>
              <div class="form-group">
                <label>Price*:</label>
                <input type="text" class="form-control" name="price" placeholder="Price*" [formControl]="dataForm.controls['price']">
                <span *ngIf ="dataForm.controls['price'].touched && dataForm.controls['price'].hasError('blankprice')" class="has-error"> Price field can not be blank</span>
                <span *ngIf ="dataForm.controls['price'].touched && dataForm.controls['price'].hasError('invalidprice')" class="has-error"> Price contain only numeric value</span>
              </div>
              <input type="submit" name="submit" value="SUBMIT" class="loginbtn2">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>