<app-header></app-header>

<div class="container-fluid affiliatetopbannerblock">
  <div class="row">
    <div class="affiliateimgwrapper">
      <img src="../../assets/images/affiliaterightimg.png">
    </div>
    <div class="bannercontent">
      <img src="../../assets/images/affiliaterlogo-audiodeadline.png">
      <h2>You can NOW</h2>
      <h6>sign up to</h6>
      <h2>be an affiliate!</h2>
      <h5>Go the RSVP for tickets page and be sure to check box to sign up as an affiliate and to earn 10% on all referral ticket sales as well as 5% on other referred affiliates!</h5>
      <p>Only 2 can win and the only way to qualify is to <span>sign up now!</span></p>
      <a class="btn btncontactus" [routerLink]="['/signup']">Join now</a>
    </div>
  </div>
</div>

<app-footer></app-footer>