<app-header></app-header>
<div class="container-fluid abouttopbannerblock">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="bannercontent">
        <h2>THE ULTIMATE</h2>
        <h6>INTERACTIVE</h6>
        <h2>EXPERIENCE</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid aboutblock1">
  <div class="row">

    <div class="aboutblock1wrapperimg"><img src="../../assets/images/aboutblock1left.png"></div>
    <div class="aboutblock1content">
      <h2>AUDIO DEADLINE IS AN EVOLUTION IN MUSIC<!--As the culture surrounding music evolves--></h2>
      <h4>We are building an incredible massive online community of musicians, fans and excitement around our ground breaking and inspiring new online streaming show, Audio Deadline.  Our content is like nothing ever experience before. Stick around and you will see for yourself.<!--we are seeing an enhanced unification of sound. Taylor Swift can be heard on the Hip-Hop station. Turn the dial and country singers are rapping. This spark of diversity, influence, and inspiration is the essence of Audio Deadline.--></h4>
      <table class="aboutblock1table">
        <tbody>
        <tr>
          <td class="aboutblock1imgwrapper"><img src="../../assets/images/homeblock2img1.png"></td>
          <td class="aboutblock1imgwrapperright"><span>On the Audio Deadline online steaming show</span> itself we seek to unify the sound of well-known and A-list and participating independent artists for a single song, on a single day, and filmed in single takes from multiple angles. This allows for the ultimate interactive experience that artists can share with their fans and peers.<!--<span>We seek to unify the sound</span> of well-known and independent artists for a single song, on a single day, and filmed in single takes from multiple angles. This allows for the ultimate interactive experience that artists can share with their fans and peers.--></td>
        </tr>
        </tbody>
      </table>
      <h3>WHILE AUDIO DEADLINE IS STREAMING LIVE, THE ARTISTS ARE CREATING THEIR MUSIC AND FANS ARE VIRTUALLY RIGHT THERE IN THE STUDIO WITH THEM.<!--While Audio Deadline is streaming live, the artists are creating their music and fans are virtually right there in the studio with them.--> </h3>
      <h5>The Audio Deadline show is surrounded by one of the most dynamic technologies for musicians to have ever launched online!  Musicians can complete to be on the show through votes, add all their media and trade traffic with thousands of other artists in our Artist Exchange.<!--Fans can laugh at their jokes and gain insight during an artist's most intimate moment. Imagine watching your favorite artist through the whole creative genius process of producing a new song!--></h5>
    </div>
  </div>
</div>
<div class="container-fluid aboutblock2">
  <div class="row aboutblock2contentwrapper">
    <div class="aboutblock2wrapperimg">
      <img src="../../assets/images/aboutblock2right.png">
    </div>
    <div class="aboutblock2content">
      <h2>AudioDeadline</h2>
      <h4><span>Is the ultimate</span> experience in Artist Collaboration and is the one moment, the exact moment that fans from across the world could not access until now, that we are capturing an our live streaming broadcast. Fans talk about it, and imagine being there and were left with just their imaginations.</h4>
      <h3>That all changes here with the live Audio Deadline broadcast where we will capture the magic moment when pen hits paper, beats are created, and music is born.</h3>
      <h5><span>On the Audiodeadline</span> live streaming show, you will experience mainstream artists come together with independent and up and coming musician contest winners to collaborate with this 8-hour studio session deadline where they must make the music happen.</h5>
    </div>
  </div>
</div>

<div class="container-fluid aboutblock3">
  <div class="row aboutblock3contentwrapper">
    <div class="aboutblock3wrapperimg">
      <img src="../../assets/images/aboutblock3left.png">
    </div>
    <div class="aboutblock3content">
      <h2>Our host is the world famous Flii Stylz</h2>
      <h4><span>Flii Stylz, Music Industry Executive, Choreographer, Movie Star,</span> <br>Rap Artist, and Professional Mentor, <br>is bringing the new revolution to the music industry!</h4>
      <h5>No one else has the background, experience, and industry know-how that Flii Stylz brings to the table. He has worked with major industry stars such as Michael Jackson, Gloria Estefan, Bette Midler, Enrique Iglesias, John Lee Hooker, Usher, Nicki Minaj and, of course, <span>Chris Brown, helping to define their signature style and perfect their brand. And he isn’t done yet! Flii Stylz is leading the way to a new era of music industry creation.</span></h5>
    </div>
  </div>
</div>

<div class="container-fluid aboutblock4">
  <div class="row aboutblock4contentwrapper">
    <div class="aboutblock4wrapperimg">
      <img src="../../assets/images/aboutblock4right.png">
    </div>
    <div class="aboutblock4content">
      <h2>Picture this Scenario</h2>
      <h4>Our main stream artists and contest winners meet for the first time outside the studio and we capture this meeting on live Broadcast. They are introduced by our host Flii Stylz speak for a bit and then enter the studio.</h4>
      <h3><span>The Heat is on</span> They now have 8 hours to cut a brand-new song and are under the deadline clock to send it for production and final cut. They cannot leave until they are done.</h3>
      <h5><span>Once the new song</span> is finished it is mixed down and that night, on a live broadcast we drop the beat in a club where everyone there can download the song.<br><br><span>Fans log into their Audio Deadline</span> accounts and pay $19.95 for complete access to all 8-hours of the live event, PLUS the club live broadcast.<br><br><span>The audience</span> is on the edge of their seat as many have dreamed this type of studio intimacy with their favorite artists.<br><br><span>Millions of music enthusiasts</span> from all over the world will view the livestream of the Audio Deadline Experience and we will quickly become the premiere music destination on the Internet.</h5>
    </div>
  </div>
</div>


<div class="container-fluid aboutblock5">
  <div class="row aboutblock5contentwrapper">
    <div class="aboutblock5wrapperimg">
      <img src="../../assets/images/aboutblock5left.png">
    </div>
    <div class="aboutblock5content">
      <h2>ARTIST COMMUNITY</h2>
      <h4>The Artist Exchange, our Massive Online Community Portal is Home to the Audie Deadline Live Broadcast.</h4>
      <h5>The Audio Deadline portal will become the premier destination for music lovers everywhere.  The portal is the central focus for the Audio Deadline live broadcast and will be where all the fans gather in anticipation for the forthcoming event. <span>Around this exciting event we will be developing a full community of music lovers, musicians and incredibly rich social features.</span></h5>
    </div>
  </div>
</div>



<div class="container-fluid aboutblock6">
  <div class="row aboutblock6contentwrapper">
    <div class="aboutblock6wrapperimg">
      <img src="../../assets/images/aboutblock6right.png">
    </div>
    <div class="aboutblock6content">
      <h2>PROFILE MANAGEMENT</h2>
      <h4><span>We offer traditional profile creation optionswith an emphasis on music</span> and themes around music appreciation. The system will have a light weight profile management system that is fully integrated with Facebook, Twitter, Instagram, and Snapchat, giving users, musicians and fans alike, the most comprehensive social-music community experience available. The services offered through the application will include updates to the forthcoming Audio Deadline live events and episodes, <span class="span1">music industry RSS feeds,</span> user added audio and video as well as collaborative competitions amounts the musician members of the portal.</h4>
      <h3>Compete to Win</h3>
      <h5>Our Musician members can enter in competitions that are running year-round for prizes offered by our sponsors and of course to appear on the Audio Deadline Experience.  Votes are based on both new member invitations that musicians make to the portal and actual casted votes in the competition portal.</h5>
    </div>
  </div>
</div>


<div class="container-fluid aboutblock7">
  <div class="row aboutblock7contentwrapper">
    <div class="aboutblock7wrapperimg">
      <img src="../../assets/images/aboutblock7left.png">
    </div>
    <div class="aboutblock7content">
      <h2>MUSICIAN PROFILES</h2>
      <h4>The musician member pro will be with Facebook, SoundCloud, ReverbNation, Itunes and YouTube. They can build a full artist profile adding in pictures and links to all of their work. We are building a hub to their most important online destinations for their fans to enjoy.</h4>
      <h3>TRADE TRAFFIC</h3>
      <h5>The most powerful part of our platform offered to artists is our proprietary Artist Exchange Trade System. The Artist Exchange Trade System allows musicians the ability to exchange links, videos and music with all the other music artists on the platform. They can push the exchanged links into all their social and have their links shared as well. This is a free service to the musicians and will help massively popularize the platform all year long between deadlines while getting our artists extreme exposure across millions of shared links in the massive online social media communities.</h5>
    </div>
  </div>
</div>


<div class="container-fluid aboutblock8">
  <div class="row aboutblock8contentwrapper">
    <div class="aboutblock8wrapperimg">
      <img src="../../assets/images/aboutblock8right.png">
    </div>
    <div class="aboutblock8content">
      <h2>Make Money</h2>
      <h4><span>The entire system  is built on an affiliate structure and everyone that participates in the AudioDeadline.com marketing will be greatly rewarded. </span> Promoters, musicians and fans call all RSVP for when the platform goes live and tickets are available for purchase. If you are a promoter, musician or just want to invite others you can sign up as an affiliate. We will pay you 10% of all ticket sales that come through your account! This is on <span class="span1">early RSVP members</span> as well as new members that buy once we are live!</h4>
      <h3>Get in early and win</h3>
      <h5>If you are here learning more about the Deadline and our future, get singed up, be an early adapter. We are going to take the music industry by storm. We are inviting you along for the ride!</h5>
    </div>
  </div>
</div>
<app-footer></app-footer>