<div class="dashboardwelcomewrapper">
  <div class="bashboardlogincenterblock">
    <div class="loginnew_bg">
      <div class="loginnew_wrapper">
        <img src="../../assets/images/loginlogonew.png">
        <h1>RESET PASSWORD</h1>
        <div class="loginnew_formbox">
          <!--<h4>Please enter your password.</h4>-->
          <form novalidate [formGroup]="loginform" name="loginform" (ngSubmit)="dosubmit(loginform.value)" class="loginformnew">
            <div *ngIf="is_error1 && !is_error" class="singleerror" style="padding: 4px 0; color: #ff0000; text-align: left;">This link has been expired. <a [routerLink]="['/forgot-password']">Resend New Link</a></div>
            <div *ngIf="is_error" class="singleerror" style="padding: 4px 0; color: #ff0000; text-align: left;">{{is_error}}</div>
            <p>
              <label>
                <span class="your-email">
                  <input type="password" name="password" value="" size="40" class="form-control" placeholder="PASSWORD" [formControl]="loginform.controls['password']">
                </span>
              </label>
              <span *ngIf ="loginform.controls['password'].touched && !loginform.controls['password'].valid" class="wpcf7-not-valid-tip">Password is Required !</span>
              <br>
              <label>
                <span class="your-email">
                  <input type="password" name="confirmpassword" value="" size="40" class="form-control" placeholder="CONFIRM PASSWORD" [formControl]="loginform.controls['confirmpassword']">
                </span>
              </label>
              <span *ngIf ="loginform.controls['confirmpassword'].touched && !loginform.controls['confirmpassword'].valid" class="wpcf7-not-valid-tip">Confirm Password is Required !</span>
              <span *ngIf ="loginform.hasError('mismatchedPasswords') && loginform.controls['confirmpassword'].valid" class="wpcf7-not-valid-tip">Passwords must match !</span>
              <br>
              <input type="submit" value="SUBMIT" class="btnloginnew">
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
