<div class="container-fluid dashboard_body">
  <div class="dashboard_wrappertop">
    <div class="dashboradtoplogo">
      <img src="../../assets/images/logo.png">
    </div>
  </div>
  <div class="row rowmaindiv">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 dashboard_left">
      <app-adminleft></app-adminleft>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 dashboard_right">
      <div class="dashboard_right_wrapper">
        <div class="dashboard1_div1">
          <h4>View Broadcast</h4>
          <div class="dashboardwrapper">
            <div class="row socialsinglepostlists">
              <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepost">
                <div class="row socialsinglepostcontent">
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/Audience-1.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/Audience-3.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/Audience-4.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/BetoFly-1.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/BetoParedes-1.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/FliiStylzIntro-1.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/FliiStylzIntro-2.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/Musicians-2.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/Promoters-1.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/Promoters-2.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 socialsinglepostcontentinner">
                    <p>https://audiodeadline.com/signup/{{username}}</p>
                    <div class="socialsinglepostimgwrapper" style="height: auto;">
                      <img src="../../assets/images/Promoters-3.png">
                    </div>
                    <div class="socialsinglepostright">
                      <div class="btnsocialsharenewlists">
                        <!--<input type="button" value="Post In Facebook" (click)="postinfb()" class="btnsocialsharenew btnfb">
                        <input type="button" value="Post In Twitter" class="btnsocialsharenew btntwit">
                        <input type="button" value="Post In Linkedin" class="btnsocialsharenew btnin">
                        <input type="button" value="Post In Tumblr" class="btnsocialsharenew btnblog">-->
                        <a class="btnsocialsharenew btnfb" href="https://www.facebook.com/" target="_blank">Post In Facebook</a>
                        <a class="btnsocialsharenew btntwit" href="https://twitter.com/" target="_blank">Post In Twitter</a>
                        <a class="btnsocialsharenew btnin" href="https://www.linkedin.com/" target="_blank">Post In Linkedin</a>
                        <a class="btnsocialsharenew btnblog" href="https://www.tumblr.com/" target="_blank">Post In Tumblr</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
