<style type="text/css">
    .clear{ clear: both;}
</style>

<app-header></app-header>

<!--<img src="../../assets/images/dates_img1.jpg" style="display: block; width: 100%;">
<img src="../../assets/images/dates_img2.jpg" style="display: block; width: 100%;">-->

<div class="container-fluid datesnewblock1">
    <div class="datesnewblock1bgrightimg">
        <div class="datesnewblock1wrapperimg">
            <img src="../../assets/images/datesnewblock1bgrightimg.png">
        </div>
        <div class="row datesnewblock1contentwrapper">
            <div class="datesnewblock1content">
                <h2>AudioDeadline.com Experience</h2>
                <h2>and AristXP.com Social</h2>
                <h2>Network important dates</h2>
                <h5>
                    <span>Getting involved with us is a genuine experience</span> and we have our live streaming events and networking event opportunities that you can get involved in! We are in our launch phase of the company and are very excited to have you!
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid datesnewblock2">
    <div class="row">

        <h2>AudioDeadline.com Experience</h2>
        <div class="datesnewblock2content datesnewblock2contentright">
            <img src="../../assets/images/datesnewblock2contentrightimg.jpg" class="datesnewblock2contentrightimg">
            <ul>
                <li><span>Wednesday, September 3rd, 2018 -</span> You can sign up to RSVP for when tickets go on sale for a discount and pre-register for the ArtistXP.com Social Experience.</li>
                <li><span>Friday, November 30th, 2018 -</span> Streaming Tickets for the first AudioDeadline.com Experience, April 13th, 2019, go on sale.</li>
                <li><span>Friday, November 30th, 2018 –</span> We will hold our first networking event in Los Angeles, CA to announce special guests and other features of the coming April live stream.</li>
                <li><span>Friday, January 5th, 2019 –</span> The AristXP.com Social Network goes live. Artists can complete their profiles and fans can register to the network.</li>
                <li><span>Friday, February 15th, 2019 –</span> Competitions start for the first AudioDeadline.com Experience on the ArtistXP.com Social Network.</li>
                <li><span>Friday, April 1st, 2019 -</span> Competitions are over and all the winners are announced, and interviews are set up.</li>
                <li><span>Saturday, April 13th, 2019 -</span> The AudioDeadline.com Experience Premier Live Streaming Event!</li>
                <li><span>Saturday, April 20th, 2019 –</span> We will hold our second networking event in Los Angeles, CA to announce special guests and other features of the coming July live stream. Location to be announced.</li>
                <li><span>Wednesday, May 15th, 2019 -</span> Competitions start for the second AudioDeadline.com Experience on the ArtistXP.com Social Network.</li>
            </ul>
        </div>
    </div>
    <div class="row">

        <div class="datesnewblock2content datesnewblock2contentleft">
            <img src="../../assets/images/datesnewblock2contentleftimg.jpg" class="datesnewblock2contentleftimg">
            <ul>
                <li><span>Monday, July 1st, 2019 -</span> Competitions are over and all the winners are announced, and interviews are set up.</li>
                <li><span>Saturday, July 13th, 2019 -</span> The AudioDeadline.com Experience second Live Streaming Event!</li>
                <li><span>Saturday, July 20th, 2019 –</span> We will hold our third networking event in Los Angeles, CA to announce special guests and other features of the coming October live stream. Location to be announced.</li>
                <li><span>Thursday, August 15th, 2019 -</span> Competitions start for the third AudioDeadline.com Experience on the ArtistXP.com Social Network.</li>
                <li><span>Tuesday, October 1st, 2019 -</span> Competitions are over and all the winners are announced, and interviews are set up.</li>
                <li><span>Saturday, October 12th, 2019 -</span> The AudioDeadline.com Experience third Live Streaming Event!</li>
                <li><span>Saturday, October 19th, 2019 –</span> We will hold our fourth networking event in Los Angeles, CA to announce special guests and other features of the coming January live stream. Location to be announced.</li>
                <li><span>Sunday, November 15th, 2019 -</span> Competitions start for the fourth AudioDeadline.com Experience on the ArtistXP.com Social Network.</li>
                <li><span>Wednesday, January 1st, 2020 -</span> Competitions are over and all the winners are announced, and interviews are set up.</li>
                <li><span>Saturday, January 11th, 2020 -</span> The AudioDeadline.com Experience fourth Live Streaming Event!</li>
                <li><span>Saturday, January 18th, 2020 -</span> We will hold our fifth networking event in Los Angeles, CA to announce special guests and other features of the coming April live stream. Location to be announced.</li>
            </ul>
        </div>
    </div>
</div>



<app-footer></app-footer>
