<div class="dashboardwelcomewrapper">
  <div class="bashboardlogincenterblock">
    <div class="loginnew_bg">
      <div class="loginnew_wrapper">
        <img src="../../assets/images/loginlogonew.png">
        <h1>FORGOTTEN PASSWORD</h1>
        <div class="loginnew_formbox">
          <h4>Please enter your valid email address and you will be sent a link to reset your password. You must use the same email id you have registered with us. If you no longer have the same email address then you must contact us directly with proof of your identity.</h4>
          <form novalidate [formGroup]="loginform" name="loginform" (ngSubmit)="dosubmit(loginform.value)" class="loginformnew">
            <div *ngIf="is_error" class="singleerror" style="padding: 4px 0; color: #ff0000; text-align: left;">{{is_error}}</div>
            <div *ngIf="is_succ" class="singleerror" style="padding: 4px 0; color: #00ff00; text-align: left;">{{is_succ}}</div>
            <p>
              <label>
                <span class="your-email">
                  <input type="email" name="your-email" value="" size="40" class="form-control" placeholder="EMAIL" [formControl]="loginform.controls['email']">
                </span>
              </label>
              <span *ngIf ="loginform.controls['email'].touched && !loginform.controls['email'].valid" class="wpcf7-not-valid-tip">Email id is Required !</span>
              <br>
              <input type="submit" value="SEND EMAIL" class="btnloginnew">
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
