<div class="container-fluid artistsexchangefooterblock">
  <div class="row no-gutter sectionheaderinner col-container">
    <div class="col-1-1">
      <div class="colwrapper">
        <div class="row no-gutter sectionheaderinner col-container">
          <div class="col footercol1">
            <img src="assets/images/artistlogofooter.png" alt="logofooter">
          </div>
          <div class="col footercol2">
            <div class="simple-subscription-form">
              <h4>Newsletter</h4>
              <form>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspe ndisse iaculis dolor tristique, laoreet nibh eu, imperdiet tellus. Nullam magna augue.</p>
                <div class="input-group">
                  <input class="input-group-field" type="email" placeholder="Enter email address..." required=""><button class="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col footercol3">
            <h3>Links</h3>
            <ul class="footernavnew">
              <li><a class="javascript:void(0);">Home</a></li>
              <li><a class="javascript:void(0);">Musicians</a></li>
              <li><a class="javascript:void(0);">Models</a></li>
              <li><a class="javascript:void(0);">About Artist Exchange</a></li>
              <li><a class="javascript:void(0);">Contact Us</a></li>
            </ul>
            <div class="socialmediaicons socialmediaicons2">
              <a href="javascript:void(0)" class="fa fa-facebook"></a>
              <a href="javascript:void(0)" class="fa fa-twitter"></a>
              <a href="javascript:void(0)" class="fa fa-google"></a>
              <a href="javascript:void(0)" class="fa fa-linkedin"></a>
              <!-- <a href="javascript:void(0)" class="fa fa-youtube"></a>
               <a href="javascript:void(0)" class="fa fa-instagram"></a>-->
              <a href="javascript:void(0)" class="fa fa-pinterest"></a>
              <!-- <a href="javascript:void(0)" class="fa fa-snapchat-ghost"></a>
               <a href="javascript:void(0)" class="fa fa-skype"></a>
               <a href="javascript:void(0)" class="fa fa-android"></a>-->
              <a href="javascript:void(0)" class="fa fa-dribbble"></a>
              <!--<a href="javascript:void(0)" class="fa fa-vimeo"></a>
              <a href="javascript:void(0)" class="fa fa-tumblr"></a>
              <a href="javascript:void(0)" class="fa fa-vine"></a>
              <a href="javascript:void(0)" class="fa fa-foursquare"></a>
              <a href="javascript:void(0)" class="fa fa-stumbleupon"></a>
              <a href="javascript:void(0)" class="fa fa-flickr"></a>
              <a href="javascript:void(0)" class="fa fa-yahoo"></a>
              <a href="javascript:void(0)" class="fa fa-reddit"></a>
              <a href="javascript:void(0)" class="fa fa-rss"></a>-->
            </div>
          </div>
        </div>
        <div class="row no-gutter sectionheaderinner col-container copyrightdivblock">
          <div class="text-center">
            <div class="copyrightdiv">copyright © <span>ARTIST EXCHANGE</span> 2018 - all rights reserved</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>