<app-header></app-header>
<div class="container-fluid communitytopbannerblock">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="bannercontent">
        <h2>THIS IS THE HOTTEST</h2>
        <h6>TICKET IN THE</h6>
        <h2>MUSIC INDUSTRY!</h2>
        <h3>The Artist <span>Exchange</span></h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid communityblock1">
  <div class="row" style="margin:0px;">
    <div class="communityblock1wrapperimg"><img src="../../assets/images/communityblock1left.jpg"></div>
    <div class="communityblock1content">
      <h2>Audio Deadline is an online,</h2>
      <h4>social niche-community comprised of musicians and fans who share, critique, and listen to music.</h4>
      <table class="communityblock1table">
        <tbody>
        <tr>
          <td class="communityblock1imgwrapperright"><img src="../../assets/images/communityheadphoneicon.png"><span>The Artist Exchange</span> is an amazing asset within Audio Deadline that builds a larger network of followers for an artist by utilizing the fanbase of others. Recording artists can spread their sound to new listeners through this community of artists who connect with one another by agreeing to promote each other through social media sites.</td>
        </tr>
        </tbody>
      </table>
      <h3>We will be the premier destination for music apprentices and appreciators. Sharing music and interacting with other musicians and fans has never been easier!</h3>
    </div>
  </div>
</div>
<app-footer></app-footer>