<style type="text/css">
  .clear{ clear: both;}
  .trending_demo_body{background: #060606;}

  .trending_demo_left{ width: 82.1%; float: left;}
  .trending_demo_right{ width:17.9%; float: left;}

  @media screen and (max-width: 991px){
    .trending_demo_left{ width: 98%;
      margin-left: 0.6%;
      float: none;}
    .trending_demo_right{ width:100%; float: none;}
  }
</style>

<app-artistheader></app-artistheader>


<div class="trending_demo_body">

  <img src="../../assets/images/trending_img1.jpg"  style="width: 100%;">
  <img src="../../assets/images/trending_img2.jpg"  style="width: 100%;">
  <img src="../../assets/images/trending_img3.jpg"  style="width: 100%;">
  <div class="clear"></div>
  <div class="trending_demo_left"><img src="../../assets/images/trending_img4.jpg"  style="width: 100%;"></div>
  <div class="trending_demo_right"><img src="../../assets/images/trending_img5.jpg"  style="width: 100%;"></div>

  <div class="clear"></div>

  <div style="width: 100%; background: #060606; padding: 24px 0; padding-top: 5px; border-bottom: solid 30px #2d3032;">
    <img src="../../assets/images/trending_img_viewmore.png" alt="#" style="display: block; margin: 0 auto;">

  </div>

</div>

<app-artistfooter></app-artistfooter>