<style type="text/css">
  .clear{ clear: both;}
  .team_demo_body{ width: 100%; position: relative;}
  .team_demo_body img{ display: block; width: 100%;}
</style>


<app-header></app-header>

<div class="container-fluid teamnewblock1">
  <div class="teamnewblock1wrapperimg">
    <img src="../../assets/images/teamnewblock1bgrightimg.jpg">
  </div>
  <div class="row teamnewblock1contentwrapper">
    <div class="teamnewblock1content">
      <h2>Performing Artist and Guest</h2>
      <h5>We have a dedicated team of ambassadors, affiliates, film crews, publicists, employees and other industry folks that make up over 20 of us that are currently engaged in the <span>AudioDeadline.com</span> Experience.  These numbers grow daily, and advocates of our platform are catching on to what we are bringing to the industry. If you are interested in working more directly with us, please feel free to contact us via our contact page.
      </h5>
      <a class="visitfllistyle" [routerLink]="['/contactus']">please feel free to contact  us via our contact page</a>
    </div>
  </div>
</div>


<div class="container-fluid teamnewblock2">
  <div class="teamnewblock2wrapperimg">
    <img src="../../assets/images/teamnewblock2bgrightimg.jpg">
  </div>
  <div class="row teamnewblock2contentwrapper">
    <div class="teamnewblock2content">
      <h2>On our show Flii Stylz</h2>
      <h5>our award-winning celebrity host and president of the company will interact with fans on our twitter feed, have special guests and switch between the live studio experience and the “Flii Couch” during this live streaming broadcast.  With a VMA, several other industry awards and appearances on networks like cinemax, BET, Showtime, CBS and many more we are very honored to have him as our host.  Please visit his page on our site to learn more.</h5>
      <a class="visitfllistyle" target="_blank" href="https://www.fliistylz.com">You can learn more about Flii here</a>
    </div>
  </div>
</div>

<!--<div class="team_demo_body">
  <img src="../../assets/images/team_page3.jpg" style="width: 100%;">
  <a href="http://betoparedes.com" target="_blank" style="display: block;
    width: 26.2%;
    height: 15%;
    position: absolute;
    left: 27.8%;
    bottom: 14%;"></a>
</div>
<div class="team_demo_body">
  <img src="../../assets/images/team_page4.jpg" style="width: 100%;">
</div>-->


<div class="container-fluid teamnewblock6">
  <div class="row teamnewblock6contentwrapper">
    <div class="content-table">
      <div class="content-row">
        <div class="column"><img src="../../assets/images/teamnewblock6imgblockrightimg.jpg"></div>
        <div class="column"><img src="../../assets/images/teamnewblock6imgblockrightimg2.jpg"></div>
      </div>
    </div>
    <div class="teamnewblock6content">
      <h2>Sandra Sago</h2>
      <h5><span>Master Ambassador and Co-Host of the AudioDeadline.com Experience</span> SANDRA SAGO known as the Instagram sensation @thearabianprincess is the co-host of the AudioDeadline.com Experience Premiere episode!  Working closely with Flii Stylz she brings sizzle and personality to the studio in this first and soon to be legendary live streamed event. With close to a million followers and high fan engagement on her Instagram page, Sandra is sure to be a sensation behind the microphone as she plays back and forth with Flii while this live event streams across the world!</h5>
      <a class="visitfllistyle" href="https://www.instagram.com/thearabianprincess/" target="_blank">Check out Sandra on Instagram!</a>
    </div>
  </div>
</div>





<div class="container-fluid teamnewblock7">
  <!--<div class="teamnewblock5wrapperimg">
    <img src="../../assets/images/teamnewblock5bgrightimg.jpg">
  </div>-->
  <div class="row teamnewblock7contentwrapper">
    <div class="content-table">
      <div class="content-row">
        <div class="column">
          <img src="../../assets/images/teamnewblock7imgblockrightimg.jpg">
        </div>

        <!-- <div class="column">
           <img src="../../assets/images/teamnewblock5imgblockleftimg.jpg">
         </div>
         <div class="column">
           <img src="../../assets/images/teamnewblock5imgblockrightimg.jpg">
         </div>-->
      </div>
    </div>
    <div class="teamnewblock7content">

      <h2>Beto Paredes</h2>
      <h5><span>CEO of the AudioDeadline.com Experience</span> and the Social Network ArtistXP.com is the creator of technology, branding and platform that drives the Experience. His companies have built over 2,000 projects online, he is a well-known speaker in the tech industry and has developed very successful projects for 7 of the Inc 500. He specializes in massive online platforms in marketing, national sales management and social networking.  He is one of the original founders and co-created the <span>AudioDeadline.com Experience</span>.</h5>
      <a class="visitfllistyle" href="http://betoparedes.com" target="_blank">You can learn more about Beto here</a>
    </div>
  </div>
</div>










<!--



<div class="container-fluid teamnewblock7">
  <div class="row teamnewblock7contentwrapper">
    <div class="content-table-team">
      <div class="content-row-team">
        <div class="column-team"><img src="../../assets/images/teamnewblock7imgblockrightimg.jpg"></div>
      </div>
    </div>
    <div class="teamnewblock7content">
      <h2>Beto Paredes</h2>
      <h5></h5>

    </div>
  </div>
</div>-->


<!--

<div class="container-fluid teamnewblock3">
  <div class="teamnewblock3inner">
    <div class="teamnewblock3wrapperimg">
      <img src="../../assets/images/teamnewblock3bginner.png">
    </div>
    <div class="row teamnewblock3contentwrapper">
      <div class="teamnewblock3content">
        <h2>Beto Paredes</h2>
        <h5><span>CEO of the AudioDeadline.com Experience</span> and the Social Network ArtistXP.com is the creator of technology, branding and platform that drives the Experience. His companies have built over 2,000 projects online, he is a well-known speaker in the tech industry and has developed very successful projects for 7 of the Inc 500. He specializes in massive online platforms in marketing, national sales management and social networking.  He is one of the original founders and co-created the <span>AudioDeadline.com Experience</span>.</h5>
        <a class="visitfllistyle" href="http://betoparedes.com" target="_blank">You can learn more about Beto here</a>
      </div>
    </div>
  </div>
</div>
-->




<div class="container-fluid teamnewblock4">
  <div class="teamnewblock4wrapperimg">
    <img src="../../assets/images/teamnewblock4bgrightimg.jpg">
  </div>
  <div class="row teamnewblock4contentwrapper">
    <div class="teamnewblock4content">
      <h2>Jon Fondy</h2>
      <h5>The esteemed director of the <span>AudioDeadline.com Experience,</span> is a 2-time Emmy award winner and has shot and produced over 1500 movies, tv shows and broadcast over 1000 live events. His team does everything from managing the production of the live stream event to editing that footage into full television episodes to be distributed to millions of households in our aftermarket strategy.</h5>
    </div>
  </div>
</div>




<div class="container-fluid teamnewblock5">
  <!--<div class="teamnewblock5wrapperimg">
    <img src="../../assets/images/teamnewblock5bgrightimg.jpg">
  </div>-->
  <div class="row teamnewblock5contentwrapper">
    <div class="content-table">
      <div class="content-row">
        <div class="column">
          <img src="../../assets/images/teamnewblock5imgblockleftimgnew.jpg">
        </div>

        <!-- <div class="column">
           <img src="../../assets/images/teamnewblock5imgblockleftimg.jpg">
         </div>
         <div class="column">
           <img src="../../assets/images/teamnewblock5imgblockrightimg.jpg">
         </div>-->
      </div>
    </div>
    <div class="teamnewblock5content">

      <h2>Sherrie Kirkwood<!--Sherrie Kirkwood & Lakeyta Reynolds--></h2>
      <h5>Sherrie Kirkwood, CMO, Founder and co-creator Graduated from Full Sail University with an Entertainment Business Bachelor of Science Business Administration & Media degree. She has extensive experience in Business, Brand, Social Media and Marketing Development which also includes <span>15+ yrs experience in multiple facets of the Entertainment Industry</span>.</h5>
    </div>
  </div>
</div>




<div class="container-fluid teamnewblock8">
  <div class="row teamnewblock8contentwrapper">
    <div class="content-table">
      <div class="content-row">
        <div class="column"><img src="../../assets/images/teamnewblock8imgblockrightimg.jpg"></div>
      </div>
    </div>
    <div class="teamnewblock8content">
      <h2>Lakeyta Reynolds</h2>
      <h5>A Full Sail Alumni and Valedictorian of her class, Lakeyta Reynolds graduated with a bachelor’s degree in Business Management in Entertainment and Media. <span>As an Entrepreneur in the entertainment world she has successfully accomplished 15+ years at the Executive level.</span> She is now the Director of Marketing for Audio Deadline.</h5>
    </div>
  </div>
</div>



<!--<div class="team_demo_body" style="border-top: solid 1px #363636;">
  <img src="../../assets/images/team_page5.jpg" style="width: 100%;">
</div>-->

<!--
<div class="team_demo_body"><img src="../../assets/images/team_page1.jpg" style="width: 100%;">
  <a href="javascript:void(0)" style="display: block;
    width: 36%;
    height: 15%;
    position: absolute;
    right: 14.8%;
    bottom: 11%;"></a>

</div>
<div class="team_demo_body"><img src="../../assets/images/team_page2.jpg" style="width: 100%;">

  <a href="javascript:void(0)" style="display: block;
    width: 25.2%;
    height: 15%;
    position: absolute;
    left: 3.8%;
    bottom: 21%;"></a>
</div>
<div class="team_demo_body"><img src="../../assets/images/team_page3.jpg" style="width: 100%;">

  <a href="javascript:void(0)" style="display: block;
    width: 26.2%;
    height: 15%;
    position: absolute;
    left: 27.8%;
    bottom: 14%;"></a>
</div>
<div class="team_demo_body"><img src="../../assets/images/team_page4.jpg" style="width: 100%;"></div>
<div class="team_demo_body" style="border-top: solid 1px #363636;"><img src="../../assets/images/team_page5.jpg" style="width: 100%;"></div>-->


<app-footer></app-footer>