<app-header></app-header>


<div class="container-fluid topbannerblock">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="bannercontent">
        <h2>the audiodeadline.com</h2>
        <h2>experience is streamed</h2>
        <h2>live bringing artists together in </h2>
        <h2>the studio creating</h2>
        <h2>a brand-new song.</h2>
        <h3>Our Award winning Celebrity Flii Stylz brings special guests, <!--This is the ultimate connection between <span>artists and fans!</span>--><!--Our Host Flii Stylz our host brings special guests,--> <span>audience interaction, and a thrilling 8 HOUR DEADLINE to cut a new song!<!--audience interaction and a thrilling 8 HOUR DEADLINE to cut a new song!--></span></h3>
      </div>
    </div>
  </div>
</div>


<!---<div class="container-fluid audiodeadline_new1">

  <h2>About Deadline</h2>

  <h3> <label>Audio Deadline .com</label>   <span>The Massive Online Community Portal</span> – Home of the Audio Deadline Live Broadcast</h3>

  <p>
    <span>The Audio Deadline portal will become the premier destination for music lovers everywhere.  </span><br/>
    The portal is the central focus for the Audio Deadline live broadcast and will be where all the fans gather in
    anticipation for the forthcoming event. Around this exciting event we will be developing a full
    community of music lovers, musicians and incredibly rich social features.<br/><br/>

    Once the new song is finished it is mixed down and that night, on a live broadcast
    we drop the beat in a club where everyone there can download the song.<br/><br/>

    Millions of music enthusiasts from all over the world will view the livestream of the <br/>
    <b>Audio Deadline Experience and we will quickly become the premiere music destination on the Internet.</b><br/><br/>
  </p>
  <p>
    <strong>Our Musician members can enter in competitions that are running
      year-round for prizes offered by our sponsors and of course to appear
      on the Audio Deadline Experience.  Votes are based on both new member
      invitations that musicians make to the portal and actual casted
      votes in the competition portal.</strong>

    <a [routerLink]="['/signup']"  class="audiodeadline_new1_link1"> sign up now </a>

  <div class="clearfix"></div>

</div>-->


<!---<div class="container-fluid audiodeadline_new2">

  <h2>About Artist Exchange</h2>

  <p><span>We offer traditional profile creation options with an emphasis on music and themes around music
appreciation.</span> The system will have a light weight profile management system that is fully integrated with Facebook, Twitter, Instagram, and Snap Chap, giving users, musicians and fans alike, the most
    comprehensive social-music community experience available. The services offered through the
    application will include updates to the forthcoming <b>Audio Deadline live events</b> and episodes,
    music industry RSS feeds, user added audio and video as well as collaborative
    competitions amounts the musician members of the portal.</p>

  <h3>We are inviting you along for the ride ! </h3>

  <a [routerLink]="['/signup']"  class="audiodeadline_new2_link1"> sign up now </a>

  <div class="clearfix"></div>

</div>-->


<!--<div class="container-fluid tophomeblock1">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="tophomeblock1imgleftwrapper">
        <img src="../../assets/images/tophomeblock1imgleft.png">
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 tophomeblock1contant">
      <h1>Flii Stylz is bringing you the Deadline!</h1>
      <table>
        <tr>
          <td class="tophomeblock1contantleft">
            <h4><span>Flii Stylz is the host of the premier Audio Deadline!</span> As a music industry executive that has worked in choreography, dance, rap, acting, and producing music, Flii has knows the business inside and out. Who better than to take you straight to the heart of music? He will provide insights to what the artists go through as they create a new piece of art. Experience the deadline with Flii as your guide! </h4>
            <h2>Be right there with Flii as music history is made!</h2>
            <a [routerLink]="['/host-flii-stylz']" class="visitfllistyle">Visit Flii Stylz</a>
          </td>
          <td class="tophomeblock1contantright">
            <div class="tophomeblock1contantimgwrapper">
              <img src="../../assets/images/tophomeblock1contantimg.jpg">
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>-->



<div class="container-fluid aboutblock1">
  <div class="row">

    <div class="aboutblock1wrapperimg"><img src="../../assets/images/aboutblock1left.png"></div>
    <div class="aboutblock1content">
      <h2><!--AUDIO DEADLINE IS AN EVOLUTION IN MUSIC--><!--As the culture surrounding music evolves-->Have you ever wanted to go behind the scenes to witness firsthand what happens during a live studio recording session? </h2>
      <h4>We are building an incredible massive online community of musicians, fans and excitement named www.ArtistXP.com launching November 30th, 2018 around our ground breaking and inspiring new online streaming show, Audio Deadline. Our content is like nothing ever experience before. Stick around and you will see for yourself.<!--We are building an incredible massive online community of musicians, fans and excitement around our ground breaking and inspiring new online streaming show, Audio Deadline.  Our content is like nothing ever experience before. Stick around and you will see for yourself.--><!--we are seeing an enhanced unification of sound. Taylor Swift can be heard on the Hip-Hop station. Turn the dial and country singers are rapping. This spark of diversity, influence, and inspiration is the essence of Audio Deadline.--></h4>
      <table class="aboutblock1table">
        <tbody>
        <tr>
          <td class="aboutblock1imgwrapper"><img src="../../assets/images/homeblock2img1.png"></td>
          <td class="aboutblock1imgwrapperright"><span>On the Audio Deadline live streaming event</span> we have excitement, artist collaboration, and a chance for fans to be present in the moment while artists are creating a new song. Contest winning Indie Artists from our ArtistXP social network are in the heat of the moment of their creativity all for a streaming viewer audience. During the stream, special guests from the music industry, audience collaboration, and extras keep it fresh with our celebrity host Flii Stylz. All while fans are watching and having a great time a new song is born.<!--<span>We seek to unify the sound</span> of well-known and independent artists for a single song, on a single day, and filmed in single takes from multiple angles. This allows for the ultimate interactive experience that artists can share with their fans and peers.--></td>
        </tr>
        </tbody>
      </table>
      <h3>WHILE AUDIO DEADLINE IS STREAMING LIVE, THE ARTISTS ARE CREATING THEIR MUSIC AND FANS ARE VIRTUALLY RIGHT THERE IN THE STUDIO WITH THEM.<!--While Audio Deadline is streaming live, the artists are creating their music and fans are virtually right there in the studio with them.--> </h3>
      <h5>The AudioDeadline.com Experience is a live streamed show available online and worldwide packed with excitement and a viewer experience you can get nowhere else. If you are a musician, producer, video dancer, or professional model there are competitions running for all of you to participate!<!--The Audio Deadline show is surrounded by one of the most dynamic technologies for musicians to have ever launched online!  Musicians can complete to be on the show through votes, add all their media and trade traffic with thousands of other artists in our Artist Exchange.--><!--Fans can laugh at their jokes and gain insight during an artist's most intimate moment. Imagine watching your favorite artist through the whole creative genius process of producing a new song!--></h5>
    </div>
  </div>
</div>



<div class="container-fluid aboutblock4">
  <div class="row aboutblock4contentwrapper">
    <div class="aboutblock4wrapperimg">
      <img src="../../assets/images/aboutblock4right.png">
    </div>
    <div class="aboutblock4content">
      <h2>Picture this Scenario</h2>
      <h4>Our contest winning artists meet for the first time outside the studio and we capture this meeting on live broadcast. They are introduced by our host flii stylz speak for a bit and then enter the studio.<!--Our main stream artists and contest winners meet for the first time outside the studio and we capture this meeting on live Broadcast. They are introduced by our host Flii Stylz speak for a bit and then enter the studio.--></h4>
      <h3><span>The Heat is on</span> They now have 8 hours to cut a brand-new song and are under the deadline clock to send it for production and final cut. They cannot leave until they are done.</h3>
      <h5><span>Once the new song</span> is finished it is mixed down and that night, on a live broadcast we drop the beat in a club where everyone there can download the song.<br><br><span>Fans log into their audio deadline <!--Fans log into their Audio Deadline--></span> <!--accounts and pay $19.95 for complete access to all 8-hours of the live event, PLUS the club live broadcast-->accounts and pay $14.95 for complete access to all 8-hours of the live event, PLUS the club live broadcast.<br><br><span>The audience</span> is on the edge of their seat as many have dreamed this type of studio intimacy with their favorite artists.<br><br><span>Millions of music enthusiasts</span> from all over the world will view the livestream of the Audio Deadline Experience and we will quickly become the premiere music destination on the Internet.</h5>
    </div>
  </div>
</div>



<div class="container-fluid aboutblock3">
  <div class="row aboutblock3contentwrapper">
    <div class="aboutblock3wrapperimg">
      <img src="../../assets/images/aboutblock3left.png">
    </div>
    <div class="aboutblock3content">
      <h2>Our host is the world famous Flii Stylz</h2>
      <h4><span>Flii Stylz, Music Industry Executive, Choreographer, Movie Star,</span> <br>Rap Artist, and Professional Mentor, <br>is bringing the new revolution to the music industry!</h4>
      <h5>No one else has the background, experience, and industry know-how that Flii Stylz brings to the table. He has worked with major industry stars such as Michael Jackson, Gloria Estefan, Bette Midler, Enrique Iglesias, John Lee Hooker, Usher, Nicki Minaj and, of course, <span>Chris Brown, helping to define their signature style and perfect their brand. And he isn’t done yet! Flii Stylz is leading the way to a new era of music industry creation.</span></h5>
      <a [routerLink]="['/host-flii-stylz']" class="visitfllistyle">Learn more about Flii Stylz our Celebrity Host</a>
    </div>
  </div>
</div>


<div class="container-fluid homenewblock1">
  <div class="homenewblock1wrapperimg">
    <img src="../../assets/images/homenewblock1right.jpg">
  </div>
  <div class="row homenewblock1contentwrapper">
    <div class="homenewblock1content">
      <h2>Producers, Musicians, Vocalists,</h2>
      <h2>Dancers listen up!</h2>
      <h5><span>You can compete for a position in the AudioDeadline.com</span> Experience as an Artist and be a guest on our show!<br><br> We have several prizes and sponsor driven opportunities such as a distribution deal for the new song.  Not only can producers, rappers, vocalists and other musicians compete to be on the show, but models and dancers are able to join as well!<br><br>The competitions are all accessed through our <span class="bluetxtnew1">Artist Experience Social Network ArtistXP.com</span></h5>
    </div>
  </div>
</div>



<div class="container-fluid homenewblock2">
  <div class="homenewblock2wrapperimg">
    <img src="../../assets/images/homenewblock2left.jpg">
  </div>
  <div class="row homenewblock2contentwrapper">
    <div class="homenewblock2content">
      <h2>February AudioDeadline.com</h2>
      <h2>Competitions:</h2>
      <ul>
        <li><span>Vocalist Competition –</span> Starts December 15th 2018 and runs through February 1st 2019</li>
        <li><span>Rapper Competition –</span> Starts December 15th 2018 and runs through February 1st 2019</li>
        <li><span>Producer Competition –</span> Starts December 15th 2018 and runs through February 1st 2019</li>
        <li><span>Dancer Competition (2 winners) –</span> Starts December 15th 2018 and runs through February 1st 2019</li>
      </ul>
      <h5>Go to <a style="color: #c92e85;" href="https://artistxp.com" target="_blank">www.ArtistXP.com</a> right now and get ready to have a great time as we race to the deadline!</h5>
    </div>
  </div>
</div>












<div class="container-fluid tophomeblock2">
  <div class="tophomeblock2layer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tophomeblock2rightbg">
        <div class="tophomeblock2content">
          <h2><strong>Be Part</strong> of the Magic of <span>Music !</span></h2>
          <h4>The Deadline takes you straight into the studio with your favorite artists and gives them a deadline to come up with a completely new song in just 8 hours!</h4>
          <h5>Imagine being able to experience the magic of your favorite artists creating a brand new hit. See what goes into creating a new tune with collaboration, inspiration, and the musical genius of the hottest singers on the scene.</h5>
          <h3>This is a one-of-a-kind music experience!</h3>
        </div>
      </div>
    </div>
  </div>
</div>





<!--<div class="container-fluid homeblock1">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 homeblock1rightbg">
      <div class="homeblock1content">
        <h2>EXPERIENCE YOUR FAVORITE ARTIST <span>LIKE NEVER BEFORE?</span></h2>

        <div class="homeblock1rightbgcontent">
          <div class="row row-eq-height">
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
              <img src="../../assets/images/homeblock1img1.png">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
              <blockquote>
                Have you ever wanted to go behind the scenes to witness firsthand what happens during a live studio recording session?
                <span>From the first key played, all the way to the final take, Audio Deadline brings you behind-the-scenes to show viewers what it takes to make a hit single in one sitting.</span>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!--<div class="container-fluid homeblock2">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="homeblock2content">
        <h2>THIS IS A ONE-OF-A-KIND SOCIAL MUSIC-COMMUNITY EXPERIENCE!</h2>
        <table class="homeblock2table">
          <tr>
            <td class="homeblock2imgwrapper"><img src="../../assets/images/homeblock2img1.png"></td>
            <td><span>Audio Deadline</span> functions as a portal destination, live event, and population lab. We get mainstream artists to collaborate for an 8-hour studio session and stream it as a live event for paying consumers. The new song, just created, is available for purchase and immediately downloadable after the studio session.</td>
          </tr>
        </table>
        <h3>The <span>Audio Deadline</span> portal will become the premier destination for music lovers everywhere!</h3>
      </div>
    </div>
  </div>
</div>-->


<!--<div class="container-fluid homeblock3">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="homeblock3content">
        <h2>BE PART OF INDUSTRY HISTORY!</h2>
        <span class="hr"></span>
        <p>We seek to unify the sound of well-known and independent artists for a single song, on a single day, and filmed in single takes from multiple angles. The result of this unification will be immediately available for <span>download, worldwide</span>. You can now be part of the creative and competitive spirit within the music industry. </p>
      </div>
    </div>
  </div>
</div>-->


<app-footer></app-footer>
